.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    margin-bottom: 5%;
}

.cardText{
    margin-top: 2.8%;
}

.h2{
  margin-bottom: 2%;  
  margin-left: 3%;
  font-weight: 700;
  color: #3A3E88;
}

.article{
    display: flex;
    flex-direction: row;
    background-color: #EDEDED;
    border-radius: 32px;
    margin: 30px auto;
    width: 95%;
    height: 520px;
}

.img{
    width: 50%;
    height: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 400px;
    font-size: 17px;
    margin: auto;
}

.p{
    font-size: 22px;
    margin: 0px auto;
    width: 80%;
    color: #000555;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3A3E88;
    border-radius: 32px;
    font-size: 22px;
    width: 280px;
    height: 40px;
    margin: 15px auto;
}