/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/styles/header.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__KuOoz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 88px;
    background-color: #B6C8DC;
    padding: 0 20px;
    box-sizing: border-box;
}

.header_logoWrapper__WLIgW {
    flex-shrink: 0;
}

.header_img__yEUof {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.header_nav__C_0VJ {
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.header_section__HSq0a {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 20px;
}

.header_a__CaVCM {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 14px;
    color: #000555;
}

.header_aVisited__z76Bj {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border-radius: 24px;
    background-color: #7D8BB5;
    color: white;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 13px;
}

.header_button__kaeTh {
    background-color: #3A3E88;
    height: 30px;
    width: 130px;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 14px;
    color: white;
    border-radius: 24px;
    border: none;
}

.header_menuToggle__48E_u {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #3A3E88;
    z-index: 10000;
  }
  
  .header_mobileMenu__m4p6_ {
    display: none;
    position: fixed;
    top: 88px;
    right: 0;
    width: 200px;
    background-color: #B6C8DC;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 9999;
    flex-direction: column;
    gap: 20px;
  }
  
  .header_mobileMenu__m4p6_ a {
    color: #000555;
    text-decoration: none;
    font-weight: 700;
  }
  
  @media (max-width: 799px) {
    .header_nav__C_0VJ {
      display: none;
    }
  
    .header_menuToggle__48E_u {
      display: block;
    }
  
    .header_mobileMenu__m4p6_ {
      display: flex;
    }
  
    .header_header__KuOoz {
      justify-content: space-between;
    }
  }
  

@media (min-width: 1701px) and (max-width: 1920px){
    .header_header__KuOoz{
        height: 100px;
    }

    .header_img__yEUof {
        width: 80px;
        height: 80px;
    }

    .header_a__CaVCM {
        font-size: 16px;
    }

    .header_aVisited__z76Bj {
        width: 128px;
        height: 30px;
        font-weight: 700;
        font-size: 16px;
    }

    .header_button__kaeTh{
        font-size: 16px;
        
    }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/styles/footer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__Ggcrc{
    margin: 0 0 25px 0;
}

.footer_hr__WujMm{
    margin: 0 auto 20px auto;
    width: 95%;
}

.footer_developers__hWR6c, .footer_a__Cjr7N{
    color: black;
    font-size: 18px;
    text-align: center;
}

.footer_a__Cjr7N{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

@media (min-width: 1701px) and (max-width: 1920px){
    .footer_developers__hWR6c, .footer_a__Cjr7N{
        font-size: 20px;
    }
}

@media (min-width: 1101px) and (max-width: 1300px){
    .footer_developers__hWR6c, .footer_a__Cjr7N{
        font-size: 15px;
    }

    .footer_footer__Ggcrc{
        margin: 10px
    }
} 

@media (min-width: 801px) and (max-width: 1100px){
    .footer_developers__hWR6c, .footer_a__Cjr7N{
        font-size: 15px;
    }

    .footer_footer__Ggcrc{
        margin: 10px
    }
}

@media (min-width: 400px) and (max-width: 800px){
    .footer_developers__hWR6c, .footer_a__Cjr7N{
        font-size: 15px;
    }

    .footer_footer__Ggcrc{
        margin: 10px
    }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/styles/cards.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.cards_article__1gHAr {
    background-color: #EDEDED;
    width: 345px;
    height: 370px;
    border-radius: 32px;
    overflow: hidden;
  }
  
  .cards_imgWrapper__fb88B {
    position: relative;
    width: 100%;
    height: 68%;
  }
  
  .cards_img__LAww_ {
    object-fit: cover;
  }

  .cards_label__CkMuR {
    color: black;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 7%;
    margin-left: 7%;
  }

  @media (min-width: 1701px) and (max-width: 1920px){
    .cards_article__1gHAr{
      width: 90%;
      height: 430px;
    }

    .cards_label__CkMuR{
      font-size: 18px;
    }
  }

  @media (min-width: 1301px) and (max-width: 1500px) {
    .cards_article__1gHAr{
      width: 300px;
      height: 330px;
    }
  }

  @media (min-width: 1101px) and (max-width: 1300px){
    .cards_article__1gHAr{
      width: 90%px;
      height: 300px;
    }
  } 

  @media (min-width: 801px) and (max-width: 1100px){
    .cards_article__1gHAr{
      width: 90%px;
      height: 230px;
    }
  } 

  @media (min-width: 401px) and (max-width: 800px){
    .cards_article__1gHAr{
      width: 80%;
      height: 280px;
      margin: auto;
    }

    .cards_label__CkMuR {
      font-size: 18px;
    }
  }
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/profile/profile.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.profile_container__CYebx{
  background-color: #EDEDED;
  width: 95%;
  height: 500px;
  margin: 20px auto;
  border-radius: 32px;
}

.profile_banner__I_o8C{
  width: 100%;
}

.profile_profile__vkE_C{
  margin-right: 20px;
}

.profile_section__RH7dI{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0 auto 3% auto;
    width: 95%;
}

.profile_cardText__MAugr{
    margin-top: 2.8%;
}

.profile_h2__LN_OE{
  margin-bottom: 2%;  
  margin-left: 3%;
  font-weight: 700;
  color: #3A3E88;
}

.profile_infoContainter__oY3jp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 28%;
}

.profile_info___m7m6, .profile_text__wE96_, .profile_buttons__HAs4Y{
  display: flex;
  flex-direction: row;
}

.profile_text__wE96_{
  width: 100%;
  align-items: center;
}

.profile_textInfo__OcvgD{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
}

.profile_university__v2fWP{
  margin-top: 20px;
  margin-left: 80px;
  font-size: 18px;
  font-weight: 550;
  height: 10%;
  font-family: Helvetica;
}

.profile_user__aDtIZ{
  font-weight: bold;
  font-size: 22px;
}

.profile_email__fGxeq{
  color: #686868;
  font-size: 18px;
}

.profile_edit__Xkmpb{
  background-color: #3A3E88;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  color: white;
}

.profile_line__FSg9E{
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile_options___BfVJ{
  display: flex;
  flex-direction: column;
  margin-top: 67px;
}

.profile_h1__rV5CP{
  font-size: 20px;
  color: #3A3E88;
  margin-left: 50px;
}

.profile_textP__gx_Du{
  color: #000555;
  font-weight: 700;
  margin-left: 10px;
}

.profile_buttons__HAs4Y{
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
}

.profile_button___xNux{
  font-size: 18px;
  font-weight: bold;
  background-color: #B6C8DC;
  color: #3A3E88;
  margin-top: 30px;
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 32px;
  padding: 0 30px;
}

@media (min-width: 1701px) and (max-width: 1920px){
  .profile_container__CYebx{
    height: 550px;
    border-radius: 24px;
  }
  
  .profile_edit__Xkmpb{
    font-size: 25px;
    height: 45px;
    width: 150px;
  }

  .profile_h1__rV5CP{
    font-size: 25px;
    margin-left: 70px;
  }
  
  .profile_textP__gx_Du{
    font-size: 18px;
  }

  .profile_button___xNux{
    font-size: 25px;
    width: 450px;
    height: 55px;
  }
}

@media (min-width: 1301px) and (max-width: 1500px){
  .profile_button___xNux{
    width: 340px;
  }
}

@media (min-width: 1101px) and (max-width: 1300px){
  .profile_button___xNux{
    width: 300px;
  }
}

@media (min-width: 801px) and (max-width: 1100px){
  .profile_container__CYebx{
    height: 720px;
  }

  .profile_h1__rV5CP{
    font-size: 18px;
  }

  .profile_textP__gx_Du{
    font-size: 16px;
  }

  .profile_buttons__HAs4Y{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile_button___xNux{
    font-size: 20px;
    width: 90%;
    height: 50px;
    margin-top: 20px;
  }
}


@media (min-width: 400px) and (max-width:800px){
  .profile_container__CYebx{
    height: 780px;
  }

  .profile_text__wE96_{
    display: flex;
    flex-direction: column;
  }

  .profile_h1__rV5CP{
    margin: 0 0 10px 0;
    font-size: 20px;
  }

  .profile_textP__gx_Du{
    font-size: 16px;
    margin: 0 20px;
    text-align: center;
  }

  .profile_buttons__HAs4Y{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile_button___xNux{
    font-size: 20px;
    width: 90%;
    height: 50px;
    margin-top: 20px;
  }

  .profile_section__RH7dI{
    flex-direction: column;
    width: 100%;
  }
}
